name: Deploy to Server

on:
  push:
    branches:
      - master  # Deploy on push to the 'master' branch

jobs:
  deploy:
    runs-on: ubuntu-latest  # Run on the latest Ubuntu environment

    steps:
    # Step 1: Checkout code from the repository
    - name: Checkout code
      uses: actions/checkout@v2

    # Step 2: Install FTP client (lftp)
    - name: Set up FTP client
      run: sudo apt-get install -y lftp

    # Step 3: Check if local directory exists
    - name: Check if local directory exists
      run: |
        pwd  # Print the current directory
        ls -R  # List files and directories recursively

    # Step 4: Deploy to server via FTP
    - name: Deploy to server via FTP
      run: |
        echo "FTP_USER: $FTP_USER"
        echo "FTP_SERVER: $FTP_SERVER"
        
        # Kiểm tra nếu thư mục mục tiêu tồn tại trên server và tạo nếu cần thiết
        # Dùng đường dẫn thư mục cụ thể của bạn
        lftp -u $FTP_USER,$FTP_PASSWORD $FTP_SERVER -e "ls /htdocs/OSS_Cuoiky1 || mkdir -p /htdocs/OSS_Cuoiky1; quit"

        # Đồng bộ các tệp tin từ local lên server (thay thế các tệp tin đã tồn tại)
        lftp -u $FTP_USER,$FTP_PASSWORD $FTP_SERVER <<EOF
        mirror -R --ignore-time --parallel=5 --delete ./ /htdocs/OSS_Cuoiky1  # Sử dụng đường dẫn thư mục cụ thể
        quit
        EOF
      env:
        FTP_USER: ${{ secrets.FTP_USERNAME }}
        FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
        FTP_SERVER: ${{ secrets.FTP_SERVER }}
