name: Deploy to Server

# Chạy quá trình deploy khi có push lên nhánh main
on:
  push:
    branches:
      - master  # Chỉ deploy khi có thay đổi ở nhánh main

jobs:
  deploy:
    runs-on: ubuntu-latest  # Chạy trên môi trường Ubuntu mới nhất

    steps:
    # Bước 1: Kiểm tra mã nguồn từ GitHub repository
    - name: Checkout code
      uses: actions/checkout@v2  # Dùng action để checkout mã nguồn

    # Bước 2: Kiểm tra xem thư mục local_dir có tồn tại không
    - name: Check if local directory exists
      run: |
        pwd  # In ra đường dẫn hiện tại
        ls -R  # Liệt kê tất cả các thư mục và tệp trong thư mục làm việc
        if [ -d "./local_dir" ]; then
          echo "local_dir exists"
        else
          echo "local_dir does not exist"
          exit 1
        fi

    # Bước 3: Cài đặt FTP client (lftp) trên server để sao chép file
    - name: Set up FTP client
      run: sudo apt-get install lftp  # Cài đặt công cụ lftp

    # Bước 4: Deploy mã nguồn lên server qua FTP
    - name: Deploy to server via FTP
      run: |
        echo "FTP_USER: $FTP_USER"
        echo "FTP_SERVER: $FTP_SERVER"
        lftp -u $FTP_USER,$FTP_PASSWORD $FTP_SERVER <<EOF
        mirror -R ./local_dir /remote_dir  # Sao chép mã nguồn từ local lên server
        quit
        EOF
      env:
        FTP_USER: ${{ secrets.FTP_USERNAME }}  # Lấy thông tin người dùng FTP từ Secrets
        FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}  # Lấy thông tin mật khẩu FTP từ Secrets
        FTP_SERVER: ${{ secrets.FTP_SERVER }}  # Lấy thông tin máy chủ FTP từ Secrets
